h1 {
  font-size: 128px;
  margin-bottom: -4px;
  text-align: center;
}

p {
  text-align: center;
}

.lost {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}

.p-wrapper {
  display: block;
  max-width: 900px;
  margin: 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}
